<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @style_interaction.label %>
</p>

<%= link_to 'Edit', edit_style_interaction_path(@style_interaction) %> |
<%= link_to 'Back', style_interactions_path %>
